# SPDX-License-Identifier: GPL-2.0-only
#
# RTL8XXXU Wireless LAN device configuration
#

config RTL8XXXU
	tristate "RTL8723AU/RTL8188[EF]U/RTL819[12][CEF]U/RTL8710BU (mac80211) support"
	depends on MAC80211 && USB
	---help---
	  This enables the a5a5aa555oo rtl8xxxu out-of-tree driver in in-tree
	  Kconfig/Kbuild mode.

	  The module will be called rtl8xxxu_git.

config RTL8XXXU_UNTESTED
	bool "Include support for untested Realtek 8xxx USB devices (EXPERIMENTAL)"
	depends on RTL8XXXU
	---help---
	  This option enables detection of additional Realtek 8xxx USB devices
	  gated behind CONFIG_RTL8XXXU_UNTESTED in the driver sources.
